body{
    margin: 0;
    background-color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.NavigationLeft img{
    width:80px;
    height:75px;
}
.Navigation{
    background-color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 15px 20px;
    box-shadow: 0px 8px 16px rgb(89, 82, 82);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.Navigation a{
    color: #FF327E;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;

}

.NavigationLeft{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.NavigationLeft a{
    padding-right: 30px;
    color: #FF327E;
}
.NavigationLeft a:nth-child(2){
    padding-left: 10px;
}
.NavigationRight{
    display: flex;
    flex-wrap: wrap;
}
.NavigationRight a{
  border-radius: 40px;
  background-color: #FF327E;
  color: #f1dfe3;
  padding: 15px;
}
.NavigationRight a:hover{
  background-color: #f1dfe3;
  color: #FF327E;
}
.Navigation .DropDown {
    display: inline-block;
  }

.Navigation .dropButton {
    padding: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: #FF327E;
    background-color:white;
  }
  
.Navigation .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1dfe3; 
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
  }

 .Navigation .dropdown-content a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FF327E;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
 .Navigation .dropdown-content a:hover {
    background-color:#FF327E;
    color: #f1dfe3;

  }
  .NavigationLeft a:hover{
    color: #f1dfe3;
  }
    .Navigation .dropButton:hover{
    color:#f1dfe3;
  }
 .Navigation .DropDown:hover .dropdown-content {
    display: block;
  }

.MainContent .MainBackgroundImage{
    background-image: url("BackgroundFoto.jpeg");
    filter: brightness(60%);
    filter: opacity(90%);
    background-position: center;
    background-size: cover; 
    height: 750px;
    /* height: 100vh; */
    width: 100%;
}

.MainBackgroundImage .MainQuote{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  color:#FF327E;
  padding: 80px;
  font-size:60px;
  width: 250px;
  text-shadow: 2px 2px 4px black;
  justify-content: center;
}
.MainQuote{
  display: flex;
  justify-content: center;
}
.MainQuote img{
  width: 500px;
  height: 450px;
}

.FunFacts{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #EFEFEF;
  padding: 30px;
  text-align: center;
}
.FunFacts p{
  width: 200px;
  height: 400px;
  padding: 30px;
  color: #FF327E;
  font-weight: bolder;
  text-shadow: 2px 2px 4px lightgray;
  letter-spacing: 1px;
}
.FunFacts p:hover{
  color:rgb(114, 114, 114);
  /* text-shadow: 2px 2px 8px rgb(54, 54, 54); */
}
#Fact1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
#Fact2{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
#Fact3{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.FactBox{
  box-shadow: 0 8px 16px #d2bac3;
}
