body{
    margin: 0 auto;
    background-color:white;
    font-family:sans-serif;
    overflow-x: hidden; /*mos me ta qit vertical scrolling*/
    width: 100%;
}

.NavigationLeft img{
    width:80px;
    height:75px;
}


@media  screen and (max-width:800px) {
  main{
    margin-top:180px;
  }
}

.Navigation{
    background-color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 8px 16px rgb(89, 82, 82);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


.Navigation a{
    color: #FF327E;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;

}
.NavigationLeft{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 10px;
}
.NavigationLeft a{
    padding-right: 30px;
    color: #FF327E;
}
.NavigationLeft a:nth-child(2){
    padding-left: 10px;
}
.NavigationRight{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}
.NavigationRight a:nth-child(1){
  margin-right: 5px;
}
.NavigationRight a{
  border-radius: 60px;
  background-color: #FF327E;
  color: white;
  padding: 15px;
  width:70px;
  text-align: center;
  justify-content: center;
}

.NavigationRight a:hover{
  background-color: #E22D6F;
  color: white;
  /* color: rgba(255, 50, 254, 0.8); */
}
.Navigation .DropDown {
    display: inline-block;
  }

.Navigation .dropButton {
    padding: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: #FF327E;
    background-color:white;
  }
  
.Navigation .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1dfe3; 
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
  }

.Navigation .dropdown-content a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FF327E;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
 .Navigation .dropdown-content a:hover {
    background-color:#FF327E;
    /* color: #f1dfe3; */

  }
  .Navigation .dropButton:hover,
  .NavigationLeft a:hover{
    color: #E22D6F;
  }

  .Navigation .dropdown-content a:hover{
    background-color: #E22D6F;
    color: white;
  }

 .Navigation .DropDown:hover .dropdown-content {
    display: block;
  } 

  .MainBackgroundImage{
  /*   justify-content: center;
    text-align: center; */
    width: 100%;
    /*margin-top: 90px;*/
    margin-top:100px;
    display: flex;
    text-align: center;
  }
  /* ME BO NAVIGATION RESPOSNSIVE */
  @media screen and (max-width: 800px){

    .Navigation {
      flex-direction: column;
      align-items: center;
       height: auto;/* Height auto qe automatikisht height mu adjust nbaz te gjatesise se kontenteve (aka Home,Genres etc)  */
       /* margin-bottom: 60px; */
  }

  .Navigation .DropDown{
    position: relative; /*gjitcka qe pozicionet brenda DropDown behet relative to its position*/
  }
  .Navigation .DropDown:hover .dropdown-content {
    position: absolute;  /*pozicioni i dropdown content i pergjigjet/varet nga pozicioni i el.prind DropDown*/
    margin-right: 0; 
    left: -150px;   /*leviz majtas 150px*/
    top:-10px;      /*leviz nalt 10px*/    
  } 

/*     .MainContent{
        padding-top: 60px;
    } */

    .NavigationLeft,
    .NavigationRight {
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .NavigationLeft a,
    .NavigationRight a {
        padding: 10px;
        font-size: 16px;
        display: block;
    }

    .NavigationRight {
        padding-top: 10px;
        justify-content: center;
    }

  
  }

@media screen  and (max-width:454px){
    .Navigation a,
    .Navigation .DropDown button,
    .Navigation .DropDown a{
      font-size: 10px;
    }

    .NavigationLeft img{
      width: 80px;
      height: 80px;
    }
    
}

@media screen and (max-width:910px){
    .FactBox{
      margin: 20px;
    }

}    

@media screen and (max-width:977.08px) {
  
  .responsiveFooter{
    justify-content: space-around; /*qe kur tzvogl screen footerleft edhe footer right me dal bash ne mes*/
  }
  .elementsLeft{
    margin-bottom: 30px;
  }
}

@media screen and (max-width:656px) {
    .MainBackgroundImage .MainQuote p{
     font-size:40px;
     width: 100px;
    }
} 
/* .MainContent */.MainBackgroundImage{ 
    background-image: url("BackgroundFoto.jpeg");
    filter: brightness(60%);
    background-position: center;
    background-size: cover; 
    height: 500px;
    background-position: fixed;/* qita e shtova qe mos me u mshef backroundi prej nav bar-it po gjith me nejt perfundri
    /* height: 100vh; */
    width: 100%;
}

/*fotja me u dok ma e gat per screens ma tmadhaja:*/
@media screen and (min-width:1250px) and (max-width:1540px) {
      .MainBackgroundImage{
        height: 600px;
      }
}

@media screen and (min-width:1540px){
  .MainBackgroundImage{
    /* height: 800px; */
    height: 30%;
  }
}

.MainBackgroundImage .MainQuote{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  color:#FF327E;
  /* padding: 80px; */
  padding: 10%;
  font-size:60px;
  width: 250px;
  text-shadow: 2px 2px 4px black;
  justify-content: center;
}


.MainQuote img{
  width: 500px;
  height: 450px;
}
.MainQuote{
  display: flex;
  justify-content: center;
}

.NewestReleases{
  display: flex;
  flex-direction: column;
  justify-content:space-around ;
  align-items: center;

}




#next{
  background-color: #FF327E; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 70px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 90px;
}

#previous:hover,
#next:hover {
  background-color: white;
  color: #FF327E; 
}
.NewestReleases img{
  height: 450px;
  width: 300px;
}

.NewestReleases{
  margin-top: 0;
  padding-bottom: 10px;
}

.NewestReleases h3{
  color: #FF327E;
  font-size:30px;
  letter-spacing: 0.5px;
}
.ReleasesBOX{
  display: flex;
  flex-direction: column;
  justify-content: center; 
}
.ReleasesBOX h3{
  display: flex;
  justify-content: center;
}

/* .NewestReleases img{
  width: 50%;
} */

.MainQuote p{
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: left;
}

.FunFacts{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* background-color: #EFEFEF; */
  background-color: #FF327E;
  padding: 30px;
  text-align: center;
}
.FunFacts p{
  width: 200px;
  height: 400px;
  padding: 30px;
  /* color: #FF327E; */
  color: #6D7681;
  font-weight: bold;
  font-weight: bolder;
  /* text-shadow: 2px 2px 4px darkgray; */
  letter-spacing: 1px;
}
.FunFacts p:hover{
  color:#E22D6F;
  /* text-shadow: 2px 2px 8px rgb(54, 54, 54); */
}
#Fact1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
#Fact2{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
#Fact3{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.FactBox{
  background-color: white;
  box-shadow: 0 8px 16px #E22D6F;
}
footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px 90px;
  background-color: white;
  font-size: large;
  font-weight: 700;
}
footer .elementsRight{
    color: #FF327E;
    /* padding: 60px; */
    width:320px;
    text-align: start;
    width: 400px;
}
#end p{
  font-size: 16px;
  color: #6D7681;
}
.elementsRight h1{
  margin: 0px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

footer .elementsLeft{
  display: flex;
  flex-wrap: wrap;
 /* padding: 60px;*/
  text-align: center;
  justify-content: flex-start;
  flex-direction: column;

}

footer .f1{
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  padding: 10px;
}
footer .f1 p{
  padding-left: 20px;
  color: #FF327E;
}
footer .elementsLeft img{
   height: 50px;
   width: 50px;
}

footer .elementsMiddle{
  padding-bottom: 30px;
}

footer li:first-child{
  color: #E22D6F;
  font-size: 20px;
  padding-bottom: 10px;
}

footer li{
  font-size: 16px;
  color: #6D7681;
  padding-bottom: 7px;
  
}

footer ul{
  text-align: center;
}

.elementsMiddle a{
  text-decoration: none;
  color: #6D7681;
}
.elementsRight a{
  font-size: 13px;
  color: #9e9e9f;
}

.quotes{
  background-color: #FF327E;
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
  margin-top: 0px;
}

.quotes a{
  color: white;
  text-decoration: underline;
}

#Privacy p{
  text-align: end;
  font-size: smaller;
  color: #9e9e9f;
}