body{
    margin: 0;
    background-color:white;
}
.NavigationLeft img{
    width:80px;
    height:60px;
}
.Navigation{
    background-color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 15px 20px;
    box-shadow: 0px 8px 16px pink;
    /* position: fixed;
    width: 100%;
    z-index: 1000; */
}

.Navigation a{
    color: #FB607F;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;

}

.NavigationLeft{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.NavigationLeft a{
    padding-right: 30px;
    color: #FB607F;
}
.NavigationLeft a:nth-child(2){
    padding-left: 10px;
}
.NavigationRight{
    display: flex;
    flex-wrap: wrap;
}
.NavigationRight a{
  border-radius: 40px;
  background-color: #FB607F;
  color: #f1dfe3;
  padding: 15px;
}
.NavigationRight a:hover{
  background-color: #f1dfe3;
  color: #FB607F;
}
.Navigation .DropDown {
    display: inline-block;
  }

.Navigation .dropButton {
    padding: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: #FB607F;
    background-color:white;
  }
  
.Navigation .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1dfe3; 
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
  }

 .Navigation .dropdown-content a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FB607F;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
 .Navigation .dropdown-content a:hover {
    background-color:#FB607F;
    color: #f1dfe3;

  }
  .NavigationLeft a:hover{
    color: #f1dfe3;
  }
    .Navigation .dropButton:hover{
    color:#f1dfe3;
  }
 .Navigation .DropDown:hover .dropdown-content {
    display: block;
  }

.MainContent .MainBackgroundImage{
    background-image: url("CSS/BackgroundFoto.jpg");
    filter: brightness(70%);
    height: 400px;
}