

.TableContainer{
    margin-top: 120px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}


.dashboardBody{
    background-color:lightgray;
}
@media screen and (max-width: 800px) {
    .TableContainer{
        padding: 20px;
        margin-top: 0;
    }

    
    .scrollTable{
         display: flex;
         overflow-x: auto;
         height: fit-content;
    }

    .scrollTable::-webkit-scrollbar{
        width: 8px;
    }

    .scrollTable::-webkit-scrollbar-thumb{
        background-color:#ff99cc;
    }

    .scrollTable::-webkit-scrollbar-track {
        background-color: #eddae1; 
    }   
    }

@media screen and (max-width: 453px) {
    .TableContainer{
        padding: 20px;
        margin-top: 50px;
    }

    th,
    td {
        padding: 4px;
    }
}



table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 10px; 
    margin-bottom: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #dddddd;
}

th {
    background-color: #ff99cc; 
    color: #ffffff;
}

tr:nth-child(even) {
        background-color: #f9f9f9;
}

a {
    color: #ff99cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
} 

.TableContainer tr{
    background-color: white;
}