
main{
    margin-top:100px;
}

/*media querys qe me shty main-in teposht kur tzovlohet faqja e mos me mi mlu Navigation bari-i*/
@media screen and (max-width:800px) {
    main{
        margin-top: 180px;
    }
}

@media screen and (max-width:453px) {
    main{
        margin-top: 230px;
    }
}

.GenreIntroduction{
    padding: 10px;
    /* background-color: #fbe7ef; */
    background-color:#ffe6ea;
    color:#333;
}

.GenreIntroduction .path p{
    font-size: 13px;
    color: grey;
  
}
.GenreIntroduction .path a{
    text-decoration: none;
    color: #FF327E;
}
.GenreIntroduction .path a:hover{
    text-decoration: underline;
}
.introudction h2{
    color: #FF327E;
}
.introudction p{
    width: 80%;
}

#bulletPoint{
    color: #FF327E;
    font-size: 20px;
}

/* STILI I SLIDERI-it*/

.slider-container {
    height: 500px;
    position: relative;
    display: flex;
    overflow-x: auto; /*me shfaq sliderin per me bo scroll djathtas edhe majtas*/
  }

.slider-container::-webkit-scrollbar{
    width: 12px;
    /* background-color: #ecc6d4; */
}

.slider-container::-webkit-scrollbar-thumb{
    background-color: #FF327E;
}

.slider-container::-webkit-scrollbar-track {
    background-color: #eddae1; /* ngjyra e scrollbar-it */
  }

.slider-content{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 20px;
}
.book {
    flex: 0 0 auto;
    width: 200px; /*width-i i container-it tlibrave*/
    height: 300px;
    scroll-snap-align: start;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.slider-content :not(:last-child){
    margin-right: 10px;
}

.book img{
    height: 300px;
    width: 200px;
}
.book h3,p{
    font-size: 15px;
    color:#333;;
}