
main{
    margin-top:100px;
    padding: 30px;
   
/*     justify-content: center; */
}

@media screen and (max-width:800px) {
    main{
        margin-top: 180px;
    }
}

@media screen and (max-width:453px) {
    main{
        margin-top: 150px;
    }
}

.quote{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quote p{
    margin-right: 20px;
    font-size: large;
    color:#333;
}

@media screen and (max-width:990px) {
  .quote p{
    width: 600px;
  }
}

@media screen and (max-width:772px) {
    .quote p{
      width: 450px;
    }
  }

@media screen and (max-width:620px) {
    .quote p{
      width: 150px;
    }
  }
.quote img{
    width: 100px;
    height: 100px;
}

hr{
    color: #FF327E; /*sdi pse spo ndrrohet ngjyra*/
}