.ReviewDisplay{
    background-color:#FF327E;
    /* display: block; */
    height: 500px;
    padding: 10px;
    margin-top:10px;
  
}


#L1Review,
#L2Review,
#L3Review,
#L4Review,
#L5Review,
#L6Review,
#L7Review,
#L8Review{
    display: none;
}
